* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

.hero {
    min-height: 100vh;
    background-image: url(./assets/hero_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 4rem;
}

.title-container h1 span {
    font-size: 2rem;
}

.title-container {
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-left: 3rem;
}

.tag-line{
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.tag-line h2 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
}

.cards-container {
    margin: 3rem 0;
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 300px;
    height: 350px;
    border-radius:  10px;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.04);
    transition: all 0.3s ease-in-out;
}

.card img {
    height: 180px;
    width: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 1rem;
}

.card-text {
    padding: 0.7rem;
}

.card-text h3 {
    margin-bottom: 0.5rem;
    font-weight: 800;
}

.info {
    display: flex;
}

.about_me, .contact_me {
    flex: 1;
    padding: 2rem 2rem 5rem 2rem;
}

.about_me h3, .contact_me h3 {
    margin-bottom: 1rem;
    color: white;
} 

.about_me p, .contact_me p {
    color: white;
    line-height: 1.5rem;
}
.about_me {
    background-color: #414210;
}

.contact_me {
    background-color: #4C1D0A;
}

footer {
    height: 3rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-size: 1.2rem;
}
